body {
  height: 100vh;
  width: 100vw;
}
.chat-log-style {
  height: 90vh;
  min-height: 70vh;
  overflow-y: auto;
  width: 100%;
  margin: auto;
  border: 3px solid black;
  border-radius: 10px;
}

.input-form-area {
  bottom: 0;
  height: 5vh;
  width: 100%;
  margin: auto auto 0 auto;
  padding: 8px;
  position: relative;
}

@media screen and (min-height: 640px) and (orientation: portrait) {
  .chat-log-style {
    height: 525px;
    min-height: 300px;
    width: 100%;
  }

  .input-form-area {
    border: 3px solid black;
    border-radius: 10px;
    height: auto;
    width: 100%;
  }
}
