body {
  height: 100%;
  width: 100%;
}

#msg-area {
  height: 90vh;
  min-height: 30%;
  width: 100%;
  border: 3px solid black;
  border-radius: 10px;
  overflow-y: auto;
}

#msg-form {
  height: inherit;
}

.chat-log-style {
  width: 100%;
}

li {
  word-wrap: normal;
  width: 100%;
  font-size: 18px;
  font-weight: 500;
}

button.form-control {
  height: 42px;
}

button.form-control span {
  margin: auto 10px;
  text-align: center;
}

#input-form-area {
  bottom: 0;
  height: auto;
  width: inherit;
  margin: auto auto 0 auto;
  padding: 8px;
  position: absolute;
}


@media screen and (min-height: 560px) and (orientation: portrait) {
  #msg-area {
    height: 76vh;
    width: 100%;
    margin: auto;
  }
}
